spacy
python-dotenv
google-genai
openai
faker
neo4j
langchain-core
langchain
langchain-community
sentence-transformers
chromadb
langchain-chroma
langchain-classic
langchain-groq
deepeval 
rank_bm25
mcp-neo4j-cypher 
uv
langchain-mcp-adapters
litellm
pytest